<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html(pageTitle = 'Forside - Saving Private Foods
&#127860;')">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {font-family: "Times New Roman", Georgia, Serif;}
    h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <a href="#home" class="w3-bar-item w3-button">Saving Private Foods</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="#about" class="w3-bar-item w3-button">Om os</a>
            <a href="#menu" class="w3-bar-item w3-button">Menu</a>
            <a href="#contact" class="w3-bar-item w3-button">Kontakt</a>
        </div>
    </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image" src="../static/images/savingprivatefoods.png" alt="Hamburger Catering" width="1600" height="500" class="w3-center" th:src="@{images/savingprivatefoods.png}"/>
<!--    <img src="../static/images/tablesetting2.jpg" width="1000" th:src="@{images/tablesetting2.jpg}"/>-->
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
        <h1 class="w3-xxlarge">Catering</h1>
    </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
            <img src="../static/images/tablesetting2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750" th:src="@{images/tablesetting2.jpg}"/>
        </div>

        <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center">Om os</h1><br>
            <h5 class="w3-center">Tradition siden 2021</h5>
                <p class="w3-large"> Saving Private Foods er et cateringfirma som leverer til firmaer og private, med fokus på at tilbyde menuer baseret på besparelse af madspild. Vi bruger kun <span class="w3-tag w3-light-grey">råvarer</span> der kaseres af supermarkeder, der ellers ville blive smidt ud pga. skavanker & misfarvninger. </p>
            <p class="w3-large w3-text-grey w3-hide-medium">
                • Madspildet i den danske servicesektor udgør 227.000-ton pr. år. Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år.
                <br><br>• Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år, svarende til 72 % af servicesektorens madspild.
                <br><br>• Af detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og grønthandlere for 12.000 tons pr. år, mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år..</p>
        </div>
    </div>

    <hr style="border-color: black">

    <!-- Menu Section -->
    <div class="w3-row w3-padding-64" id="menu">
        <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">Vores Menu (uge 11)</h1><br>
            <h4>Mandag - STEGT LAKS - med blomkål</h4>
            <p class="w3-text-grey">Laksebøffer, blomkål, spinat, citron & dild.</p><br>

            <h4> Tirsdag - KYLLINGESUPPE</h4>
            <p class="w3-text-grey">Kyllingeskrog, nudler, hårdkogte æg, gulerod i strimler, broccolistilke, chili</p><br>

            <h4> Onsdag - TÆRTE - med kartofler & asparges(🌱)</h4>
            <p class="w3-text-grey">Kartofler, asparges, valnødder, havre, fuldkornsmajsmel</p><br>

            <h4> Torsdag - SNACKPIZZA</h4>
            <p class="w3-text-grey">kartofler, kød  🍖(fra dyr), timian, oregano, ost </p><br>

            <h4> Fredag - HØNSEFOND</h4>
            <p class="w3-text-grey">kyllingeskrog, løg, gulerødder, laurbærblade, æbleeddike </p>

            <br>
            <p>🌱 = Vegetar</p>
            <p>🍖 = Kød</p>
        </div>

        <div class="w3-col l6 w3-padding-large">
            <img src="../static/images/tablesetting3.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%" th:src="@{images/tablesetting3.jpg}"/>
        </div>
    </div>

    <hr style="border-color: black">


    <!-- Kontakt Section -->
    <div class="w3-container w3-padding-64" id="contact">
        <h1>Kontakt</h1><br>
        <p>Vi tilbyder cateringservice for både små og store arrangementer.</p>
        <p class="w3-text-blue-grey w3-large"><b>Saving Private Foods, Guldbergsgade 29N, 2200 København </b></p>
        <p>Vi kan også kontaktes på telefon: 12345678, email SPF@gmail.com eller du kan lave en reservation via vores kontakt form:</p>
        <form action="/submit" target="_blank" method="get">
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Navn" required name="Navn"></p>
            <p><input class="w3-input w3-padding-16" type="number" placeholder="Antal personer" required name="Antal personer"></p>
            <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Dato og tidspunkt" required name="Dato og tidspunkt" value="2020-03-16T10:00"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Besked \ Særlige krav" required name="Message"></p>
            <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND BESKED</button></p>
        </form>
    </div>

    <!-- End page content -->
</div>

<!-- Footer -->
<footer th:replace="fragments/footer.html"></footer>


</body>
</html>
